body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

caption {
  caption-side: top;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}

thead th {
  background-color: #b03b3b;
  color: white;
  padding: 10px;
  border: 1px solid #999;
}

tbody td,
tbody th {
  border: 1px solid #999;
  padding: 10px;
}

tbody tr:nth-child(1) {
  background-color: #f5baba; 
}

tbody tr:nth-child(2) {
  background-color: #e5d3d3; 
}

tbody tr:nth-child(3) {
  background-color: #e0e0e0; 
}

th {
  text-align: left;
  font-weight: bold;
}
